<div class="ticketing-profile-container">
    <header class="ticketing-header-profile"> 
        <h1>Your profile</h1>
    </header>

    <div class=ticketing-profile-items>
        <p><span class="tiketing-profile-item">Current public identifier: </span>{{userData.pseudo}}</p>
        <p><span class="tiketing-profile-item">Login : </span>{{userData.username}}</p>
    </div>

    <div class="ticketing-profile-button-container">
        <p><span class="tiketing-profile-item">You may update your public identifier or password</span></p>
        <button mat-flat-button color="accent" (click)="openEditProfileDialog(userData)">Edit profile</button>
      </div>
</div>