.ticketing-profile-container {
  margin: 0.5rem;
  padding-left: 3.5rem;
  display: flex;
  flex-direction: column;
}

.ticketing-profile-progress-bar {
  margin-top: 5rem;
}

.ticketing-profile-items {
  display: flex;
  //justify-content: space-between;
  flex-direction: column;
}

.ticketing-profile-button-container {
  padding-left: 2rem;
}
.ticketing-profile-button {
  height: 50%;
  align-self: center;
  margin-left: 3rem;
}
.ticketing-profile-subcontainer {
  display: flex;
  flex-direction: row;
}
