<div class="ticketing-profile-container">
  <header class="ticketing-header-profile">
    <h2>Your profile</h2>
  </header>
  <div class="ticketing-profile-subcontainer">
    <div class="ticketing-profile-items">
      <label><span>Pseudo: </span>{{ userData.pseudo }}</label>
      <label><span>Login : </span>{{ userData.username }}</label>
    </div>
    <button
      mat-flat-button
      color="accent"
      class="ticketing-profile-button"
      (click)="openEditProfileDialog(userData)"
    >
      Edit profile
    </button>
  </div>
</div>
