.ticketing-my-tickets-list-main-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: rgb(231, 231, 231);
}

.ticketing-my-tickets-list-ticket {
  margin: 0.95rem
}