<div class="ticketing-main-container-group-lists">
  <header class="ticketing-header-groups-lists"> 
    <h2>My Groups</h2>
    <button mat-flat-button color="primary" (click)="openCreateGroupModal()">Create a new group</button>
  </header>
  <div class="ticketing-groups-list-content-container">
    <table mat-table [dataSource]="groupsListData" class="">
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Group name </th>
        <td mat-cell *matCellDef="let group"> {{group.name}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="creator">
        <th mat-header-cell *matHeaderCellDef> Admin </th>
        <td mat-cell *matCellDef="let group"> {{getCreatorPseudoFromGroupData(group)}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef> Creation Date </th>
        <td mat-cell *matCellDef="let group"> {{group.creationDateGroup | date}} </td>
      </ng-container>

      <!-- Button Column -->
      <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let group"> <button mat-flat-button color="accent" (click)="enterGroup(group.id)">Enter</button> </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    
  </div>
</div>
