.ticketing-main-container-group-lists {
  width: 600px;
  margin: auto;
}

.ticketing-header-groups-lists {
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 4rem;
}
