.ticketing-admin-options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  margin: auto;
  margin-top: 1rem;
}

.ticketing-admin-options-button {
  margin-bottom: 1rem;
}