<div class="ticketing-connection-main-container">
  <mat-card class="ticketing-login-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Welcome to Ticketing</mat-card-title>
    <mat-card-subtitle>Manage your projects like never before</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Sign In"><app-sign-in></app-sign-in></mat-tab>
      <mat-tab label="Sign Up"><app-sign-up></app-sign-up></mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
</div>


