.ticketing-add-user-container {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

.ticketing-display-users-container {
  display: flex;
}

.ticketing-list-users-container {
  margin-top: 5px;
  margin-left: 1rem;
}

.ticketing-add-user-select-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticketing-add-user-button {
  width: 10rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
