<div
  class="ticketing-modal-background-color ticketing-create-group-main-container"
>
  <h2 class="mat-dialog-title">Create a new group</h2>
  <div class="ticketing-create-group-content-container">
    <mat-form-field class="ticketing-create-group-input">
      <mat-label>Group's name</mat-label>
      <input type="text" matInput [(ngModel)]="name" (keyup)="onEnter()" />
    </mat-form-field>

    <div class="ticketing-create-group-actions-container">
      <button
        mat-raised-button
        color="primary"
        (click)="save()"
        [disabled]="flagDisableCreateGroup"
      >
        Create
      </button>
      <button mat-raised-button color="accent" (click)="close()">Cancel</button>
    </div>
  </div>
</div>
