<div class="ticketing-ticket-edition-main-container">
  <mat-form-field class="ticketing-ticket-edition-input" appearance="fill">
    <mat-label>Ticket's title</mat-label>
    <input type="text" matInput [(ngModel)]="ticket.title"/>
  </mat-form-field>
  <mat-form-field class="ticketing-ticket-edition-input" appearance="fill">
    <mat-label>Ticket's description</mat-label>
    <textarea matInput [(ngModel)]="ticket.description"></textarea>
  </mat-form-field>
  <div class="ticketing-ticket-edition-users-container">
    <h3>Add user(s) on task</h3>
    <mat-form-field appearance="fill">
      <mat-label>Users available</mat-label>
      <mat-select [formControl]="pseudosSelected" multiple>
        <mat-option *ngFor="let pseudo of groupUserPseudoSelectOptions" [value]="pseudo">{{pseudo}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button class="mat-raised-button" (click)="test()">test</button>
  </div>
</div>
