.ticketing-ticket-edition-main-container {
  width: 350px;
}

.ticketing-ticket-edition-input {
  margin: auto;
  width: 95%;
}

.ticketing-ticket-edition-radio-group {
  display: flex;
  margin: 15px 0;
}

.ticketing-ticket-edition-radio-button {
  margin: 5px;
}

.ticket-ticket-edition-buttons-container {
  display: flex;
  justify-content: space-around;
}
