<mat-card class="ticketing-ticket-details-main-container">
  <h1 class="ticketing-ticket-details-main-title">
    {{ ticket.title | uppercase }}
  </h1>

  <mat-card-content>
    <h2 class="ticketing-ticket-details-sub-title">Details</h2>
    <p>
      {{ ticket.description }}
    </p>

    <h2 class="ticketing-ticket-details-sub-title">Working On</h2>
    <p *ngFor="let user of ticket.usersOnTask">
      <span>{{ user.pseudo }} </span>
    </p>

    <h2 class="ticketing-ticket-details-sub-title">History</h2>
    <p *ngFor="let status of ticket.history">
      <span>{{ status.label }} </span
      ><span class="ticketing-ticket-details-history-date">
        {{ status.date | date }}</span
      >
    </p>

    <div *ngIf="flagDisplayTicketComment">
      <h2 class="ticketing-ticket-details-sub-title">Comments</h2>
      <p
        class="ticketing-ticket-details-comments-container"
        *ngFor="let comment of ticket.commentsToDisplay"
      >
        <span>{{ comment.author }} </span
        ><span class="ticketing-ticket-details-comments-date">{{
          comment.creationDate | date
        }}</span
        ><br />
        <span>{{ comment.text }} </span>
      </p>
      <app-add-comment-input
        [entityComments]="ticket.commentsToDisplay"
        [entityId]="ticket.id"
        [entityType]="ticketEntity"
      ></app-add-comment-input>
    </div>
  </mat-card-content>
</mat-card>
