<mat-card class="ticketing-ticket-details-main-container">
  <h1 class="ticketing-ticket-details-main-title">
    {{ ticket.title | uppercase }}
  </h1>

  <mat-card-content>
    <h2 class="ticketing-ticket-details-sub-title">Details</h2>
    <p>
      {{ ticket.description }}
    </p>

    <h2 class="ticketing-ticket-details-sub-title">Working On</h2>
      <p *ngFor="let status of ticket.usersOnTask">
        <span>{{ status.pseudo }} </span>
      </p>

    <h2 class="ticketing-ticket-details-sub-title">History</h2>
    <p *ngFor="let status of ticket.history">
      <span>{{ status.label }} </span
      ><span class="ticketing-ticket-details-history-date">
        {{ status.date | date }}</span
      >
    </p>

    <div *ngIf="flagDisplayTicketComment">
      <h2 class="ticketing-ticket-details-sub-title">Comments</h2>
      <p
        class="ticketing-ticket-details-comments-container"
        *ngFor="let status of ticket.commentsToDisplay"
      >
        <span>{{ status.author }} </span
        ><span class="ticketing-ticket-details-comments-date">{{
          status.creationDate | date
        }}</span
        ><br />
        <span>{{ status.text }} </span>
      </p>

      <div class="ticketing-ticket-details-comment-input-container">
        <mat-form-field class="ticketing-ticket-details-comment-inputfield" appearance="fill">
          <mat-label>New comment</mat-label>
          <textarea type="text" matInput placeholder="What's in your mind?" [(ngModel)]="commentInputText"></textarea>
        </mat-form-field>
        <button class="ticketing-ticket-details-comment-input-button" mat-raised-button color="primary" (click)="sendcomment()">Send</button>
      </div>
      
    </div>
  </mat-card-content>
</mat-card>
