.ticketing-ticket-details-main-container {
  display: flex;
  flex-direction: column;
}

.ticketing-ticket-details-comments-container {
  justify-content: space-around;
}

.ticketing-ticket-details-comments-date {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 10px;
  align-self: flex-end;
}

.ticketing-ticket-details-history-date {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 10px;
}

.ticketing-ticket-details-main-title {
  color: dodgerblue;
  text-align: center;
}

.ticketing-ticket-details-sub-title {
  color: dodgerblue;
  margin-bottom: 0rem;
}

.ticketing-ticket-details-comment-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticketing-ticket-details-comment-inputfield {
  width: 13rem;
  margin: auto;
  margin-top: 1rem;
}

.ticketing-ticket-details-comment-input-button {
  height: 3rem;
}
