.ticketing-ticket-details-main-container {
  display: flex;
  flex-direction: column;
}

.ticketing-ticket-details-content-container {
  display: flex;
  margin-left: 0.5rem;
}

.ticketing-ticket-details-left-side {
  min-width: 40%;
}

.ticketing-ticket-details-comments-side {
  margin-left: 0.8rem;
}

.ticketing-ticket-details-comments-container {
  justify-content: space-around;
}

.ticketing-ticket-details-comments-date {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 10px;
  align-self: flex-end;
}

.ticketing-ticket-details-history-date {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 10px;
}

.ticketing-ticket-details-main-title {
  text-align: center;
}

.ticketing-ticket-details-sub-title {
  margin-bottom: 0rem;
  display: flex;
  align-items: center;
}

.ticketing-sub-title {
  margin-left: 0.5rem;
}
