.ticketing-ticket-details-main-container {
    display: flex;
align-items: center;
flex-direction: column;
justify-content: space-evenly;
width: 12.5rem;
}

.ticketing-ticket-details-comments-container{
    justify-content: space-around;
}

.ticketing-ticket-details-comments-date{
    font-family: "Helvetica Neue", sans-serif;
    font-size: 10px;
    align-self: flex-end;
}

.ticketing-ticket-details-history-date{
    font-family: "Helvetica Neue", sans-serif;
    font-size: 10px;
}

.ticketing-ticket-details-main-title{ 
    color: dodgerblue;
}

.ticketing-ticket-details-sub-title{
    color: dodgerblue;
}
