<div class="ticketing-signin-main-container">
    <p class="ticketing-signin-inputfield-name">
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Connection Name" [(ngModel)]="username">
            <mat-hint>The one you use on the platform!</mat-hint>
        </mat-form-field>
    </p>
    <p class="ticketing-signin-inputfield-password">
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Ssshh It's a secret!" [(ngModel)]="password">
            <mat-hint>Yes! That one!</mat-hint>
        </mat-form-field>
    </p>
    <button class="ticketing-signin-button" mat-button color="primary" (click)="onSelect()">Sign In</button>
</div>