.ticketing-signin-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ticketing-connection-inputfield {
    width:95%;
    margin: auto;
    margin-top: 1rem;
}

.ticketing-signin-button {
    margin-top: 1rem;
    width: 40%;
  }