<div class="ticketing-all-tickets-main-container">
  <section
    class="ticketing-label-container"
    *ngFor="let label of ticketStatusLabels"
  >
    <h2 class="ticketing-all-tickets-label-title">{{ label | uppercase }}</h2>
    <div class="ticketing-horizontal-line"></div>
    <div class="ticketing-all-ticket-label-tickets-container">
      <div
        class="ticketing-all-tickets-ticket-container"
        *ngFor="let ticket of getTicketsByLastLabel(label)"
      >
        <h3>{{ ticket.title }}</h3>
        <div class="ticketing-all-tickets-ticket-buttons-container">
          <button mat-stroked-button color="primary">Details</button>
          <button mat-stroked-button color="primary" (click)="openEditTicketDialog(ticket)">Edit</button>
        </div>
      </div>
    </div>
  </section>
</div>
