.ticketing-profile-edition-container {
  width: 20rem;
}

.ticketing-profile-edition-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5rem;
}
.profile-edition-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 1rem;
}
