.ticketing-profile-edition-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.profile-edition-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 1rem;
}
.ticketing-profile-update {
    margin-bottom: 1rem;
}