<div class="ticketing-group-dashboard-container">
  <app-header [flagDisplayButtonBackToGeneralDashboard]="true"></app-header>
  <mat-progress-bar
    *ngIf="isLoadingData"
    mode="indeterminate"
    class="ticketing-group-dashboard-progress-bar"
  ></mat-progress-bar>
  <mat-tab-group
    *ngIf="!isLoadingData"
    mat-align-tabs="center"
    class="mat-elevation-z1"
  >
    <mat-tab label="All tickets">
      <app-all-tickets-list
        (refresh)="refreshMyTickets()"
      ></app-all-tickets-list>
    </mat-tab>
    <mat-tab label="Group discussion">
      <app-group-comments></app-group-comments>
    </mat-tab>
    <mat-tab label="Group administration" *ngIf="isUserGroupAdmin">
      <app-admin-options (refresh)="refreshMyTickets()"></app-admin-options>
    </mat-tab>
  </mat-tab-group>
</div>
