.ticketing-add-comment-input-container {
  display: flex;
  align-items: center;
}

.ticketing-add-comment-inputfield {
  width: 13rem;
  margin-top: 1rem;
}

.ticketing-add-comment-input-button {
  margin-left: 1rem;
  height: 3rem;
}