.ticketing-add-comment-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticketing-add-comment-inputfield {
  width: 13rem;
  margin: auto;
  margin-top: 1rem;
}

.ticketing-add-comment-input-button {
  height: 3rem;
}